---
import { SITE_TITLE } from '../consts';
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="mobilebody">
	<div class="smallmenu" id="smallmenu">
		<a class="headerlink" href="/">About Me</a>
		<a class="headerlink" href="/projects">Projects</a>
		<a class="headerlink" href="/contributed">Contributed</a>
		<a class="headerlink" href="/contact">Contact</a>
	</div>
</body>
</html>
	
<style>
	@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Unbounded:wght@300&display=swap');
	a {
		text-transform: lowercase;
	}
</style>
